.single-book-card {
    padding: 20px;
    background-color: #343444;
    border-radius: 10px;
}

.book-img img {
    border-radius: 10px;
    height: 400px;
}

.book-img {
    margin-bottom: 15px;
}

.book-title {
    margin-bottom: 15px;
}

.book-title a {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
}

.book-title a:hover {
    color: #fff;
}

.author-info h6 {
    font-size: 0.7rem;
    color: #fff;
    opacity: 80%;
    margin-bottom: 0;
    font-weight: 300px;
}

.author-info p {
    font-size: 0.9rem;
    color: #fff;
    opacity: 100%;
    margin-bottom: 0;
    font-weight: 500;
}

.books-section-top h3 {
    color: #fff;
}

.books-section-top span a {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #5142fc;
}