.book-seach {
    padding: 8px 25px;
    font-size: 0.9rem;
    color: #fff;
    border: none;
    outline: none;
    background: #343444;
    border-radius: 5px;
    width: 45%;
    font-size: 18px;
}

.book-seach .seach {
    padding: 8px 25px;
    font-size: 0.9rem;
    color: #fff;
    border: none;
    outline: none;
    background: #343444;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
}
