.form-input input, .form-input textarea {
    width: 100%;
    padding: 7px 25px;
    color: #fff;
    font-size: 0.8rem;
    background: transparent;
    border: 1px solid rgba(221, 221, 221, 0.171);
    outline: none;
    border-radius: 5px;
}

.form-input {
    margin-bottom: 15px;
}

.send-btn {
    border: none;
    padding: 7px 25px;
    border-radius: 5px;
    margin-top: 20px;
}

.success {
    margin-top: 270px;
    margin-bottom: 270px;

}

