.first-block {
    height: 350px;
}

.check-container {
    background: #343444;
    padding-top: 10px;
    height: 230px;
}

.check-section-header {
    display: flex;
    justify-content: center;
}

.check-section-header p {
    font-size: 30px;
}

.home-rec-img img{
    height: 200px;
}

.home-rec-text a {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
}

.home-rec-text a:hover {
    color: #fff;
    text-decoration: none;
}

.second-block {
    display:inline;
}

.books-img img {
    height: 80px;
    display: inline-flex;
}

.movie-img img {
    height: 80px;
}

.books-section, .movie-section {
    display: flex;
}

.book-content p, .movie-content p {
    font-size: 20px;
}